<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your vacation request status have been updated</h1>
  Please, check it out and go to our website.
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>